<html>
  <head>
    <title>Webpage Analyzer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link href="public/css/styles.css" rel="stylesheet"> -->
  </head>
  <body>
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <h3>Enter URL</h3>
        </div>

        <div class="col-md-6">
          <form action="/" method="POST">
            <input class="form-control" placeholder="Example: http://wikipedia.org" type="text" name="url">
            <input type="submit">
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <% if(stats) { %>
            <%= stats.url %>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
