<html>
  <head>
    <title>Webpage Analyzer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Enter URL</h3>
        </div>
        <div class="col-md-12">
          <form action="/" method="POST">
            <input placeholder="http://wikipedia.com" type="text" name="url">
            <input type="submit">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
